# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Rust
target/
**/*.rs.bk

# IDEs
.idea/
*.iml
